.main {
  display: flex;
  justify-content: center;
}

.projectDiv {
  background: #0db3f5;
  color: #fff;
  border-radius: 5px;
  margin: 10px 20px;
  width: 80%;
  padding-top: 10px;
}

.projectDiv h2 {
  margin: 0 20px;
}

.headerContent {
  background: #fff;
  color: #000;
  border-radius: 0 0 4px 4px;
  height: auto;
  border: 2px solid #bbb8b8;
  margin-top: 5px;
  padding: 20px;
}

#imagesDiv {
  margin: 5px 25px;
}

.membersDiv img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.formDiv {
  padding: 5px 10px;
}

.formDiv input[type="text"],
.formDiv textarea {
  border: 2px solid #bbb8b8;
  padding: 5px;
  border-radius: 5px;
  font-size: 17px;
  outline: none;
  width: 70%;
}

#dateDiv {
  margin: 10px 0;
}

#dateDiv p {
  margin-bottom: 5px;
}

select {
  background: #fff;
  border: 2px solid #bbb8b8;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  color: #524f4f;
  font-weight: bold;
  height: 30px;
  padding: 5px;
  width: 20%; /* Consider using a consistent unit for width, e.g., percentage */
}

.formDiv input[type="submit"] {
  border: none;
  padding: 5px;
  border-radius: 5px;
  font-size: 17px;
  outline: none;
  width: 20%;
  background: #0db3f5;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 570px) {
  .projectDiv {
    width: 100%;
  }

  .formDiv input[type="text"],
  .formDiv textarea {
    width: 95%;
  }

  .formDiv input[type="submit"] {
    width: 100%;
  }

  select {
    width: 32%; /* Consider using a consistent unit for width, e.g., percentage */
  }
}
